#background {
    height: 725px;
}
body{
    background-color: #609B3F;
}
header{
    background-color: #006994;
}
nav a:hover{
    background-color: green;
    color: black;
}
.icon, .logo {
    width: 80px;
}
#hero-img{
    width: 100%;
}
nav a {
    text-align: center;
    color: #3cff00b9;
    text-decoration: none;
}
.book, .join {
    text-decoration: none;
}
footer a{
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
} 
footer p a:hover {
    text-decoration: underline;
}