body{
    background-color: black;
}
.card{
    width: 300px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    
}
.headerimage{
    width: 100%;
}
.awesomearticle{
    padding: 10%;
}
.blue{
    background-color: blue;
    color: white;
    
}
.space{
    color: blue;
}